//General styles
* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

//Variables
$titlesColor: rgba(0, 0, 0, 0.555);

//fonts
@font-face {
    font-family: "Banks";
    src: url(../fonts/Banks&MilesSingleLine.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Breezi";
    src: url(../fonts/breezi_font-webfont.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Logos";
    src: url(../fonts/Smartphone.ttf);
    font-weight: normal;
    font-style: normal;
}

//Styles
body {
    background-image: url("../images/backgroundjpg");
    background-attachment: fixed;
    background-size: 100%;
}

.active {
    border-bottom: 4px solid white;
}

#socialmedia {
    display: block;
    position: fixed;
    top: 90%;
    right: 20px;
    transition: 300ms all;

    a {
        font-family: "Logos";
        font-size: 50px;
        cursor: pointer;
        text-decoration: none;
        transition: 300ms all;
    }
}

#socialmedia:hover {
    transform: scale(1.1);
}

#header {
    display: block;
    position: fixed;
    top: 0px;
    font-family: "Banks";
    width: 100%;
    height: 80px;
    background-color: $titlesColor;
    line-height: 75px;
    border-radius: 0px 0px 20px 20px;
    z-index: 99;

    #logo {
        display: block;
        float: left;
        width: 30%;
        padding-top: 8px;
        padding-left: 10%;
        cursor: pointer;
        transition: 500ms all;

        span {
            display: block;
            float: left;
            height: 60px;
            width: 60px;
            line-height: 57px;
            text-align: center;
            font-size: 35px;
            border-radius: 999px;
            background-color: white;
            transition: 500ms all;
            z-index: 99;
            color: $titlesColor;
        }

        p {
            display: block;
            position: fixed;
            left: 200px;
            width: 20%;
            color: white;
            font-size: 35px;
            line-height: 57px;
            font-weight: bold;
            transition: 500ms all;
        }

    }

    #logo:hover {

        span {
            font-weight: bold;
            text-align: left;
            padding-left: 3%;
            width: 230px;
        }

        p {
            font-weight: normal;
            color: $titlesColor;
        }
    }

    #menu {
        display: block;
        float: left;
        width: 50%;
        color: white;
        font-weight: bold;
        padding-left: 10%;

        ul {
            display: block;
            width: 100%;

            li {
                display: inline-block;
                width: 20%;
                text-align: center;

                span {
                    display: block;
                    width: 100%;
                    cursor: pointer;
                    transition: 300ms all;
                }

                span:hover {
                    transform: scale(1.1);
                    color: $titlesColor;
                }
            }
        }
    }
}

.center {
    display: block;
    width: 95%;
    margin: 0px auto;

    #home {
        display: block;
        width: 90%;
        height: 100vh;
        padding-top: 100px;

        carousel {
            display: block;
            margin-left: 5.3%;
            z-index: 88;
        }
    }

    #services {
        display: block;
        width: 90%;
        height: 100vh;
        margin: 0px auto;
        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            font-family: "Banks";
            font-size: 50px;
            text-align: center;
            width: 85%;
            margin: 0px auto;
            color: $titlesColor;
            border-bottom: 1px solid $titlesColor;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        article {
            display: block;
            float: left;
            font-family: "Banks";
            width: 23%;
            margin: 1%;
            background-color: $titlesColor;
            height: 340px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px #444;
            color: white;
            overflow: hidden;
            transition: 300ms all;

            span {
                display: block;
                margin: 0px auto;
                margin-top: 20px;
                font-family: "Breezi";
                font-size: 200px;
                text-align: center;
                color: white;
            }

            h3 {
                font-size: 25px;
                text-align: center;
                margin-bottom: 20px;
                opacity: 1;
                transition: 200ms all;
            }

            p {
                display: block;
                width: 90%;
                margin: 0px auto;
                text-align: left;
                position: relative;
                top: -60px;
                padding-left: 5%;
                padding-right: 5% !important;
                transform: translateX(-100%);
                opacity: 0;
                transition: 300ms all;

            }

            .special-card {
                top: -100px;
            }
        }

        article:hover {
            transform: scale(1.05);
            background-color: white;
            color: black;
            height: 340px;

            span {
                color: black;
            }

            h3 {
                opacity: 0;
            }

            p {
                opacity: 1;
                transform: translateX(0%);
            }
        }

    }

    #about {
        display: block;
        width: 90%;
        height: 100vh;
        margin: 0px auto;
        padding-top: 100px;
        padding-bottom: 100px;

        h2 {
            font-family: "Banks";
            font-size: 50px;
            text-align: center;
            width: 85%;
            margin: 0px auto;
            color: $titlesColor;
            border-bottom: 1px solid $titlesColor;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

    }
}