<section id="about">
    <h2>Nosotros</h2>
    <div id="info">
        <img src="https://via.placeholder.com/1200x400" alt="">
        <p>
            Somos un Estudio conformado por profesionales en Ciencias Económicas egresados de la Universidad Nacional de
            CORDOBA que hemos desarrollado nuestra carrera laboral en distintas organizaciones por más de 10 años.

            Nuestra experiencia adquirida en estos años nos permite ofrecer un servicio profesional personalizado a
            nuestros clientes mediante la gestión integral del negocio, en donde priorizamos el compromiso y la calidad
            en cada trabajo realizado, permitiéndole tomar decisiones a futuro.
        </p>

        <div id="persons">
            <div class="person">
                <img src="https://via.placeholder.com/150" alt="">
                <div class="data">
                    <h4>Juan Manuel Petrocelli</h4>
                    <p>M.P.: 10-17840-3</p>
                </div>
            </div>

            <div class="person">
                <img src="https://via.placeholder.com/150" alt="">
                <div class="data">
                    <h4>Sofia Gamond</h4>
                    <p>M.P.: 10-20611-7</p>
                </div>
            </div>
        </div>
    </div>
</section>