<header id="header">
    <div id="logo">
        <span>GP</span>
        <p>Contable</p>
        <div class="clearfix"></div>
    </div>

    <nav id="menu">
        <ul>
            <li><span (click)="goTo('#home')">Inicio</span></li>
            <li><span (click)="goTo('#services')">Servicios</span></li>
            <li><span (click)="goTo('#about')">Nosotros</span></li>
            <li><span (click)="goTo('#contact')">Contacto</span></li>
        </ul>
    </nav>

    <div class="clearfix"></div>
</header>