<header id="header">
    <div id="logo" (click)="goTo('#home')">
        <span>GP</span>
        <p>Contable</p>
        <div class="clearfix"></div>
    </div>

    <div id="menu-button" (click)="toggleMenu()">
        <img src="../../../assets/images/menu.png" alt="">
    </div>

    <nav id="menu">
        <ul>
            <li><span (click)="goTo('#home')" [ngClass]="{'active': componentActive == '#home'}">Inicio</span></li>
            <li><span (click)="goTo('#services')" [ngClass]="{'active': componentActive == '#services'}">Servicios</span></li>
            <li><span (click)="goTo('#about')" [ngClass]="{'active': componentActive == '#about'}">Nosotros</span></li>
            <li><span (click)="goTo('#contact')" [ngClass]="{'active': componentActive == '#contact'}">Contacto</span></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
    
    <nav id="menu-responsive">
        <ul>
            <li><span (click)="goTo('#home')" [ngClass]="{'active': componentActive == '#home'}">Inicio</span></li>
            <li><span (click)="goTo('#services')" [ngClass]="{'active': componentActive == '#services'}">Servicios</span></li>
            <li><span (click)="goTo('#about')" [ngClass]="{'active': componentActive == '#about'}">Nosotros</span></li>
            <li><span (click)="goTo('#contact')" [ngClass]="{'active': componentActive == '#contact'}">Contacto</span></li>
        </ul>
    </nav>

    <div class="clearfix"></div>
</header>