<section id="services">
    <h2>Servicios</h2>

    <div id="cards">
        <article>
            <span>S</span>
            <h3>Impuestos</h3>
            <p>
                AFIP, RENTAS, Municipalidad, Asesoramiento Fiscalizaciones e Inspecciones, Facilidades de Pagos,
                Planificación Fiscal Anual.
            </p>
        </article>

        <article>
            <span>Q</span>
            <h3>Contabilidad</h3>
            <p>
                Confección y Presentación de Balances, Informes Periódicos, Análisis económico y Financiero proyectados.
            </p>
        </article>

        <article>
            <span>v</span>
            <h3>Auditorias</h3>
            <p>
                Auditorias Contables, Impositivas, Administrativas y de procesos.
            </p>
        </article>

        <article>
            <span>u</span>
            <h3>Laboral</h3>
            <p>
                Asesoramiento Laboral y Atención de Inspecciones, Liquidación de Sueldos y mucho más.
            </p>
        </article>

        <article>
            <span>l</span>
            <h3>Constitución de Sociedades</h3>
            <p>
                Asesoramiento y Gestión para la creación de Sociedades, Inscripciones Impositivas, Asesoramiento
                Patrimonial de los socios
            </p>
        </article>

        <article>
            <span>d</span>
            <h3>Habilitación de Negocios</h3>
            <p>
                Asesoramiento en requisitos de habilitación Municipal, Gestión Habilitación en la Municipalidad Ciudad
                de Córdoba, Informe de Factilidad
            </p>
        </article>

        <article>
            <span>i</span>
            <h3>Consultoría Integral </h3>
            <p>
                Atención Personalizada para resolver problemas específicos de tu negocio 
            </p>
        </article>

        <article>
            <span>D</span>
            <h3>Y mucho más!</h3>
            <p>
                Sacate la duda y ponete e contacto con nuestro equipo.
            </p>
        </article>
    </div>
</section>